:root {
    --primary: #f50;
    --primary-light: #fa7020;

    --secondary: #094971;

    --danger: rgb(201, 41, 41);

    --neutral-darkest: rgba(0,0,0,.6);
    --neutral-darker: rgb(95, 95, 95);
    --neutral-dark: rgba(107, 114, 128);
    --neutral-mid:rgb(153, 153, 153);
    --neutral-mid-light: #afafaf;
    --neutral-light: #cbd6dc;
    --neutral-lightest: #ffffff;  
    
}
  
body {
    font-family: 'K2D', sans-serif;
}


.header-mecanix {
    margin-top: 6%;
}

.img-logo {
    min-width: 180px;
    max-width: 60%;
}

.nav-mecanix {
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu-mobile {
    background-color: var(--neutral-lightest);
}

.busca-home {
    background:
    linear-gradient(
      var(--neutral-darkest),var(--neutral-darkest)
    ),
    url(/img/img-home.jpg) no-repeat;
    background-size: 100%;
    padding-bottom: 8rem;
    padding-top: 2rem;
}

.busca-home::after {
    background-color:var(--neutral-darkest);
}

.item-menu {
    font-size: 1rem;
    font-family: 'K2D', sans-serif;
}

.form-busca-home {
    background-color: #fff;
    padding: 1rem 0 1rem 0;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
}

.home-conteudo {
    margin-top: 1rem;
}

.diagnostico-conteudo {
    margin-top: 2.5rem;
}

.text-banner {
    text-align: center;
    color: var(--secondary) !important;
}

.text-home1 {
    text-align: left;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--neutral-lightest);
}

.text-home1a {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0% 10% 0% 10%;
    font-weight: 600;
}

.text-home1-b {
    text-align: left;
    font-size: 3.2rem;
    line-height: 2rem;
    font-weight: 600;
    color: var(--neutral-lightest);
    font-family: Arial, Helvetica, sans-serif !important;
}

.text-home1-c {
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--neutral-lightest);
}

.text-home1-d {
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 1rem;
    color: var(--primary-light);
}

.text-home2 {
    font-size: 1.5rem;
    
}

.text-desc-home-1 {
    text-align: center;
    color: var(--neutral-dark);
    padding: 0 20% 0 20%;
}

.text-desc-home-2 {
    padding-right: 20%;
    font-size: 1.8rem;
    font-weight: 800;
}

.text-desc-cadastro-oficina {
    padding-right: 10%;
    padding-left: 10%;
    font-size: 1.3rem;
    font-weight: 800;
}

.text-desc-cadastro-oficina2 {
    font-size: 1.6rem;
    font-weight: 800;
    padding-left: 10%;
}

.busca-home1 {
    width: 45%;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    font-weight: 600;
    font-size: 16px;
    min-width: 148px;
    height: 44px;
    overflow: scroll;
    top: auto;
    bottom: 40px;
    border-color: var(--neutral-mid-light);
}

.busca-home2 {
    width: 10%;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    font-weight: 600;
    font-size: 16px;
    min-width: 148px;
    height: 44px;
    overflow: scroll;
    top: auto;
    bottom: 40px;
    border-color: var(--neutral-mid-light);
}

.busca-home3 {
    width: 25%;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    font-weight: 600;
    font-size: 16px;
    min-width: 148px;
    height: 44px;
    overflow: scroll;
    top: auto;
    bottom: 40px;
    border-color: var(--neutral-mid-light);
}

.submit-btn-home {
    font-weight: 600;
    font-size: 16px;
    line-height: 43px;
    min-width: 148px;
    height: 44px;
    border-radius: 5px 5px 5px 5px;
    background-color: #f50!important;
    color: #ffffff;
}

.diagnostico-btn-home {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 1%;
    font-size: 16px;
    height: 44px;
    border-radius: 10px 10px 10px 10px;
    background-color: #f50!important;
    color: #ffffff;
}

.btn-cadastrar-oficina {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 1%;
    font-size: 26px;
    height: 70px;
    width: 20rem;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--primary)!important;
    color: var(--neutral-lightest);
}

.btn-busca-oficinas {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 1%;
    font-size: 16px;
    height: 40px;
    width: 10rem;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--primary)!important;
    color: var(--neutral-lightest);
}

.btn-lista-oficinas-cadastrar {
    margin-top: 2%;
    font-size: 16px;
    height: 44px;
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--primary)!important;
    color: var(--neutral-lightest);
    font-weight: 500;
}

.btn-lista-oficinas-editar {
    margin-top: 15%;
    font-size: 16px;
    height: 44px;
    width: 160px;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--neutral-mid)!important;
    color: var(--neutral-lightest);
}

.btn-lista-oficinas-excluir {
    margin-top: 15%;
    font-size: 16px;
    height: 44px;
    width: 160px;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--danger)!important;
    color: var(--neutral-lightest);
    margin-left: 1rem;
}

.box-category {
    padding: 1rem;
    text-align: center;
    border: 1px solid var(--neutral-light);
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    margin: 0 10px 0 3px;
}

.text-category-home {
    margin-top: 12px;
    font-size: 1rem;
    color: var(--neutral-darker);
}

.text-oficina-nome-home {
    margin-top: 12px;
    font-size: 1rem;
    color: var(--neutral-darker);
    font-weight: 600;
}

.text-oficina-cidade-home {
    margin-top: 12px;
    font-size: 1rem;
    color: var(--neutral-darker);
}

.especialista-home {
    padding-left: 20%;
}

.copyright {
    text-align: center;
}

.text-diagnostico {
    text-align: center;
    font-size: 1.5rem;
}

.text-nome-pagina {
    font-size: 1.5rem;
    padding: 0rem;
}


.chatroom {
    margin-left: 15%;
}

.chatbot {
    width: 390px;
    height: 450px;
}

.h1-form-cadastro {
    font-size: 1.4rem;
    padding: 1rem;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    cursor: pointer;
}

.custom-control-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.kv-preview-thumb {
    height: 180px;
}

.botao-perfil {
    border: 1px solid transparent!important;
}

.lista-oficinas-titulo {
    font-size: 2rem;
    font-weight: 600;
}

.lista-oficinas-conteudo {
    font-size: 1.3rem;
}

.mecanix-login {
    padding-top: 3rem !important;
}

/*Mobile*/
@media (max-width: 767.98px) {
    .especialista-home {
        padding-left: 10%;
    }

    .chatbot {
        width: 100%;
    }
    
    .submit-btn-home {
        border-radius: 5px 5px 5px 5px;
    }

    .text-desc-home-2 {
        text-align: center;
        color: var(--secondary);
        font-size: 1.8rem;
        font-weight: 800;
        padding: 7%;
    }

    .box-category {
        margin-top: 5%;
    }

    .chatroom {
        margin-left: 0px;
    }
    
    .text-desc-cadastro-oficina,
    .text-desc-cadastro-oficina2 {
        padding: 5%;
    }

    .header-mecanix {
        padding-top: 3rem;
    }

    .grid-cols-2,
    .grid-cols-3,
    .grid-cols-4,
    .grid-cols-5,
    .grid-cols-6 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .btn-lista-oficinas-editar {
        margin: 0%;
    }

    .btn-lista-oficinas-excluir {
        margin: 0%;
        margin-top: 2%;
    }

    .busca-home {
        background:
        linear-gradient(
            var(--neutral-darkest),var(--neutral-darkest)
        ),
        url(/img/img-home-mobile.jpg) no-repeat;
        background-size: 160%;
        padding-bottom: 8rem;
        padding-top: 2rem;
    }

    .text-home1-b {
        font-size: 2.8rem;
        line-height: 2.9rem;
    }

    .busca-home1,
    .busca-home2,
    .busca-home3 {
        width: 90%;
    }
}