body {
    font-family: 'K2D', sans-serif;
}

.header-mecanix {
    margin-top: 6%;
}

.img-logo {
    max-width: 30%;
}

.nav-mecanix {
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu-mobile {
    background-color: #ffffff;
}

.busca-home {
    background-color: #ffa536;
    padding-bottom: 6.4rem;
    padding-top: 1rem;
}

.item-menu {
    font-size: 1rem;
    font-family: 'K2D', sans-serif;
}

.home-conteudo {
    margin-top: 1rem;
}

.text-home1 {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0% 10% 0% 10%;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 5px #424242;
}

.text-home1a {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0% 10% 0% 10%;
    font-weight: 600;
}

.text-home2 {
    font-size: 1.5rem;
}

.text-desc-home-1 {
    text-align: center;
    color: rgba(107, 114, 128);
    padding: 0 20% 0 20%;
}

.text-desc-home-2 {
    text-align: center;
    color: #f50;
    padding-right: 20%;
    font-size: 1.8rem;
    font-weight: 800;
}

.text-desc-cadastro-oficina {
    text-align: center;
    color: #929292;
    padding-right: 20%;
    font-size: 1.3rem;
    font-weight: 800;
}

.text-desc-cadastro-oficina2 {
    text-align: center;
    color: #929292;
    font-size: 1.6rem;
    font-weight: 800;
}

.busca-home1 {
    width: 45%;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
    font-weight: 600;
    font-size: 16px;
    min-width: 148px;
    height: 44px;
    overflow: scroll;
    top: auto;
    bottom: 40px;
    
}

.busca-home2 {
    width: 10%;
    margin: 8px 0;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    min-width: 148px;
    height: 44px;
    overflow: scroll;
    top: auto;
    bottom: 40px;
}

.busca-home3 {
    width: 25%;
    margin: 8px 0;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    min-width: 148px;
    height: 44px;
    overflow: scroll;
    top: auto;
    bottom: 40px;
}

.submit-btn-home {
    font-weight: 600;
    font-size: 16px;
    line-height: 43px;
    min-width: 148px;
    height: 44px;
    border-radius: 0 10px 10px 0;
    background-color: #f50!important;
    color: #ffffff;
}

.diagnostico-btn-home {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 1%;
    font-size: 16px;
    height: 44px;
    border-radius: 10px 10px 10px 10px;
    background-color: #f50!important;
    color: #ffffff;
}

.btn-cadastrar-oficina {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 1%;
    font-size: 26px;
    height: 70px;
    width: 20rem;
    border-radius: 10px 10px 10px 10px;
    background-color: #f50!important;
    color: #ffffff;
}

.btn-busca-oficinas {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 1%;
    font-size: 16px;
    height: 40px;
    width: 10rem;
    border-radius: 10px 10px 10px 10px;
    background-color: #f50!important;
    color: #ffffff;
}

.btn-lista-oficinas-cadastrar {
    margin-top: 2%;
    font-size: 16px;
    height: 44px;
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    background-color: #f50!important;
    color: #ffffff;
    font-weight: 500;
}

.btn-lista-oficinas-editar {
    margin-top: 15%;
    font-size: 16px;
    height: 44px;
    width: 160px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(153, 153, 153)!important;
    color: #ffffff;
}

.btn-lista-oficinas-excluir {
    margin-top: 15%;
    font-size: 16px;
    height: 44px;
    width: 160px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(201, 41, 41)!important;
    color: #ffffff;
    margin-left: 1rem;
}

.box-category {
    padding: 1rem;
    text-align: center;
    border: 1px solid #cbd6dc;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    margin: 0 10px 0 3px;
}

.text-category-home {
    margin-top: 12px;
    font-size: 1rem;
    color: rgb(95, 95, 95);
}

.especialista-home {
    padding-left: 20%;
}

.copyright {
    text-align: center;
}

.text-diagnostico {
    text-align: center;
    font-size: 1.5rem;
}

.text-nome-pagina {
    font-size: 1.5rem;
    padding: 0rem;
}


.chatroom {
    margin-left: 15%;
}

.chatbot {
    width: 390px;
    height: 450px;
}

.h1-form-cadastro {
    font-size: 1.4rem;
    padding: 1rem;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    cursor: pointer;
}

.custom-control-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.kv-preview-thumb {
    height: 180px;
}

.botao-perfil {
    border: 1px solid transparent!important;
}

.lista-oficinas-titulo {
    font-size: 2rem;
    font-weight: 600;
}

.lista-oficinas-conteudo {
    font-size: 1.3rem;
}

/*Mobile*/
@media (max-width: 767.98px) {
    .especialista-home {
        padding-left: 10%;
    }
    
    .submit-btn-home {
        border-radius: 10px 10px 10px 10px;
    }

    .busca-home2 {
        border-radius: 0 10px 10px 0;
    }

    .text-desc-home-2 {
        text-align: center;
        color: #f50;
        font-size: 1.8rem;
        font-weight: 800;
        padding: 7%;
    }

    .box-category {
        margin-top: 5%;
    }

    .chatroom {
        margin-left: 0px;
    }
    
    .text-desc-cadastro-oficina {
        padding: 5%;
    }

    .text-desc-cadastro-oficina2 {
        padding: 5%;
    }

    .header-mecanix {
        padding-top: 3rem;
    }

    .grid-cols-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid-cols-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid-cols-4 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid-cols-5 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid-cols-6 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .btn-lista-oficinas-editar {
        margin: 0%;
    }

    .btn-lista-oficinas-excluir {
        margin: 0%;
        margin-top: 2%;
    }
}